header {
    background-color: rgb(253, 232, 219);
}
.header-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-logo {
    font-family: 'Castoro Titling', cursive;
    color: rgb(175, 46, 46);
    font-size: 40px;
    
}
.head {
    font-family: 'Faustina', serif;
    margin-top: 20px;
}